@import '../../base/components/tab';

.slick-dots {
  li {
    &.slick-active {
      border-color: #262830;

      button {
        background: #e4202d;
      }
    }
  }
  button {
    background: #262830;
  }
}

.tabs-menu-item {
  &.is-active a {
    &:before {
      content: '';
      width: 80%;
      height: 30px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      background: radial-gradient(50% 0%, 50% 15px, $tabs-border-color 0%, transparent 100%);
    }
  }
}