@import '../../base/components/cashier';

.cashier-table {
  &--head {
    background: linear-gradient(to bottom, #31354b 2%, #31354b 2%, #2c2f42 50%, #1c1f2f);
  }
  &--row {
    border-bottom: 1px solid #141620;
  }
  &--bonus {
    background: #133350;
  }
}

.hidden-radio-input:checked {
  & ~ .cashier-table--border {
    border: 2px solid $yellow;
    box-shadow: inset 0px 0px 20px 1px $yellow, 0px 0px 10px 1px $yellow;
  }
  & ~ .cashier-table--bonus {
    color: $yellow;
  }
}

.cashier-method {
  .cashier-method--box {
    &:active {
      border: 2px solid $yellow;
      box-shadow: inset 0px 0px 36px 1px $yellow, 0px 0px 10px 1px $yellow;
    }
  }
  &--box {
    background: linear-gradient(to bottom, #15456d 2%, #124269 2%, #031d37 100%);
  }
}

