/* GLOBAL */
$app-bg: #141620;

/* TEXT */
$text-color-default:        #fff;
$text-color-dark:        #94969f;
$text-color-action:      #ffd23d;
$text-color-info:        #0395e7;
$text-color-support:     #bdc4ca;
$text-color-footer:      #415b73;
$text-color-footer-link: #5a6a7a;
$green-color:            #31a056;
$red-color:              #b22434;
$white-color:            #fff;
$yellow:								 #ffd23d;
/* BUTTONS */
$btn-height: 50px;
$btn-color: #fff;

/* THUMBS */
$thumb__back-layer-height: 166px;

/* CAROUSEL */
$carousel-indecator: #262830;

/* TABS */
$tabs-border-color: #282b3c;

/* BONUS BLOC */
// $: #2d6a37;

/* Layout Background*/
$back-layout: #171a2a;