@font-face {
  font-family: "Arial Black";
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/ArialBlack.ttf');
}

@font-face {
  font-family: "Arial";
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/ArialBold.ttf');
}